{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Book Scraping</h1>
      </div>
    </div>
  </section>
  <div class="container-xl">
    {% for row in scrape %}
      <div class="col mr-3 mt-3 py-3 d-lg-inline-block">
      <div class="card " style="width: 18rem;">
        <img src="{{row.4}}" class="card-img-top"  alt="img">
        <div class="card-body flex-column flex-column">
          <h5 class="card-title">{{row.1}}</h5>
          <p class="card-text">{{row.3}}</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}